.wrapper {
    font-family: Inconsolata;
    font-size: 18pt;
    text-align: left;
}

.wrapper a {
    color: skyblue;
    text-decoration: underline;
    transition: all .25s linear;
}

.wrapper a:hover {
    color: blue;
}