@font-face {
  font-family: Manrope;
  src: url("/fonts/manrope.ttf");
}

@font-face {
  font-family: Anonymice Nerd;
  src: url("/fonts/anonymice-nerd.ttf");
}

@font-face {
  font-family: Aqua;
  src: url("/fonts/aqua.ttf");
}
html,
body {
  text-align: center;
  padding: 0;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html {
  color-scheme: dark;
}
