.button {
    font-family: Anonymice Nerd;
    border: none;
    margin: 0 2.5vw;
    border-radius: 42pt;
    background-color: gray;
    transition: all .5s;
}

.button:hover:enabled {
    cursor: pointer;
    background-color: rgb(185, 185, 185);
}

