@font-face {
  font-family: Manrope;
  src: url("/fonts/manrope.ttf");
}

@font-face {
  font-family: Inconsolata;
  src: url("/fonts/inconsolata.ttf");
}

@font-face {
  font-family: Aqua;
  src: url("/fonts/aqua.ttf");
}
html,
body {
  text-align: center;
  padding: 0;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html {
  color-scheme: dark;
}

#title {
  text-align: center;
  font-family: Manrope;
  font-size: 40pt;
}